extends includes/template

block content
    .page
        //head:Start
        div.head
            header.header
                div.wrap
                    ul.navigation
                        -
                            var menu = {'7 причин купить у нас':'#cause',
                                        'О жилом комплексе':'#about',
                                        'Планировка':'#plan',
                                        'Ипотека и рассрочка':'#ipoteka',
                                        'Отзывы клиентов':'#reviews',
                                        'Галерея':'#gallery',
                                        'Контакты':'#contacts'};
                        each link,txt in menu
                            li
                                a(href=link) #{txt}
                            =' '
                    .mobile-menu
                        span
                .overlay
            div.head__bottom
                div.wrap
                    .top
                        .left
                            h1
                                span Жилой комплекс
                                strong Можайский
                        .right
                            a(href='tel:8(395)789-47-81') 8 (395) 789-47-81
                            div
                                span
                                    | Первая очередь
                                    br
                                    | сдана в срок
                    h2.
                        Продажа квартир в жилом комплексе комфорт класса
                        от 39 000 за квадратный метр в октябрьском районе
                    .request
                        h3 Оставьте заявку
                        p на одобрение ипотечного кредита за 2 дня в банках партнерах
                        ul.img
                            li: img(src='img/bank1.png',alt='')
                            li: img(src='img/bank2.png',alt='')
                            li: img(src='img/bank3.png',alt='')
                        ul.send
                            li: input(type='text',placeholder='Ваше имя')
                            li: input(type='text',placeholder='Ваш телефон')
                            li: input(type='submit',value='Оставить заявку')
                        span Мы свяжемся с вами в течении 15 минут
                    .sendMess
                        h3 Сообщение успешно отправлено!
                        p Наш менеджер свяжется с Вами в течении 15 минут.
                        p Благодарим Вас за потраченное время!
        //head:End

        //why:Start
        .why#cause
            .wrap
                h2 Узнайте почему
                p первая очередь была распродана уже за первые 3 месяца!
                .why__content
                    ul
                        -
                            var obj = {
                                'icon-img1': {
                                    'h3': 'Мы не используем заемные средства',
                                    'p': 'Строительство жилого комплекса  ведется на собственные средства. Риски сведены к минимуму, и даже изменение экономической ситуациив стране не может отрицательно повлиять на ход возведения жилого комплекса. Отсутствие заемных денег снижает стоимость квадратного метра и всей квартиры в целом.'
                                },
                                'icon-img2': {
                                    'h3': 'Жилье<br> по доступным ценам',
                                    'p': 'Средняя стоимость квадратного метра в новостройках октябрьского района - <strong>46 000 рублей.</strong> Минимальная цена за квадратный метр в Жилом комплексе Можайский – <strong>39 000 рублей.</strong> Сравните сами – <strong>экономия в 15%!</strong>'
                                },
                                'icon-img3': {
                                    'h3': 'Дом построен из монолита и железобетоно каркаса, кирпичное заполнение',
                                    'p': 'Благодаря новым применяемым технологиям дом становится более прочным, долговечным и менее подверженным воздействиям неблагоприятных условий. Монолитно-кирпичные дома имеют повышенную тепло- и звукоизоляцию.'
                                },
                                'icon-img4': {
                                    'h3': 'Применение экологически чистых материалов',
                                    'p': 'Навесной фасад выполнен из керамогранита – материалом с уникальными свойствами. Благодаря его прочности, морозостойкости, низкому водопоглощению и эстетическому внешнему виду ваш дом будет теплым, красивым и экологичным!'
                                },
                                'icon-img5': {
                                    'h3': 'Право собственности на земельный участок – ваша безопасность',
                                    'p': 'Земля находится в собственности у застройщика, это значит, что вы ничем не рискуете – право собственности на землю неразрывно связано с правом собственности на квартиру и переходит владельцам новостроек.'
                                },
                                'icon-img6': {
                                    'h3': 'Уникальный подъемник для людей с ограниченными возможностями',
                                    'p': 'Дом и прилегающая территория оборудованы пандусами, съездами и перилами. Допуск в цокольный этаж обеспечивает специальный подъемник, оборудованный платформой с вертикальным перемещением.'
                                },
                                'icon-img7': {
                                    'h3': 'Жилой комплекс расположен в районе с развитой инфраструктурой',
                                    'p': 'В пределах 2 минут ходьбы находятся поликлиника по адресу: Можайского 2, Детский сад №102, школа №20 и супермаркеты.'
                                },
                                'icon-img8': {
                                    'h3': 'Правовая защита потребителя',
                                    'p': 'Продажа квартир ведется в строгом соответствии с Федеральным законом 214-ФЗ от 30.12.2004, максимально защищающим права покупателя и регламентирующим действия застройщика.'
                                },
                                'icon-img9': {
                                    'h3': 'большая придомовая территория',
                                    'p': 'Большая обособленная придомовая территория, превышающая в 5 раз площадь застройки, позволит создать комфортный климат в жилом комплексе.'
                                }
                            }
                        each elems,img in obj
                            li
                                .img
                                    span(class=img)
                                h3!= elems['h3']
                                p!= elems['p']

        //why:End

        //about:Start
        .about#about
            .wrap
                h2 О жилом комплексе
                .slider
                    .slider__left.flexslider
                        ul.slides
                            li: img(src='img/slide1.jpg', alt='slide1')
                            li: img(src='img/slide2.jpg', alt='slide2')
                            li: img(src='img/slide1.jpg', alt='slide3')
                            li: img(src='img/slide2.jpg', alt='slide4')
                            li: img(src='img/slide1.jpg', alt='slide5')
                    .slider__right
                        ul.slides
                            -
                                var slider = [
                                    {
                                    'Место расположения:':'ул. Можайского 3/1',
                                    'Площадь:':'70 соток земельный участок',
                                    'Из чего построен:':'монолит, железобетон, кирпич,базальтовая плита, керамогранит',
                                    'Квартир в продаже:':'50 штук',
                                    'Срок сдачи:':'3 квартал 2016'
                                    },
                                    {
                                    '2 Место расположения:':'ул. Можайского 3/2',
                                    'Площадь:':'70 соток земельный участок',
                                    'Из чего построен:':'монолит, железобетон, кирпич,базальтовая плита',
                                    'Квартир в продаже:':'55 штук',
                                    'Срок сдачи:':'3 квартал 2016'
                                    },
                                    {
                                    '3 Место расположения:':'ул. Можайского 3/3',
                                    'Площадь:':'70 соток земельный участок',
                                    'Из чего построен:':'монолит, железобетон, кирпич, керамогранит',
                                    'Квартир в продаже:':'54 штук',
                                    'Срок сдачи:':'3 квартал 2016'
                                    },
                                    {
                                    '4 Место расположения:':'ул. Можайского 3/4',
                                    'Площадь:':'70 соток земельный участок',
                                    'Из чего построен:':'монолит, кирпич,базальтовая плита, керамогранит',
                                    'Квартир в продаже:':'58 штук',
                                    'Срок сдачи:':'3 квартал 2016'
                                    },
                                    {
                                    '5 Место расположения:':'ул. Можайского 3/5',
                                    'Площадь:':'70 соток земельный участок',
                                    'Из чего построен:':'монолит, железобетон, кирпич,базальтовая плита, керамогранит',
                                    'Квартир в продаже:':'55 штук',
                                    'Срок сдачи:':'3 квартал 2016'
                                    }
                                ]
                            each slide in slider
                                li
                                    each txt,title in slide
                                        p
                                            span= title
                                            span= txt
                .about__bottom
                    h4 О застройщике
                    p.
                        Помимо внушительного опыта, за годы работы компания приобрела безупречную деловую репутацию: мы очень грамотно и осторожно выбираем
                        партнеров и работаем лишь с надежными подрядчиками, серьезными поставщиками, кредитными организациями и крупными фондами.
                    p Наиболее известные проекты с нашим участием:
                    ul
                        -
                            var items = [
                            'автоцентр "HYUNDAI"',
                            'автоцентр "SKODA"',
                            '"AUDI"-центр',
                            'торговый центр "ORANGE"',
                            'бизнес-центр "EUROPLAZA"',
                            'торговый центр "ШАНХАЙ-СИТИ молл"',
                            'торгово-офисный центр "Пассаж на Литвинова"'
                            ]
                        each item in items
                            li= item
                    p На сегодняшний день в портфеле компании 3 крупных объекта, в том числе наш пилотный проект - жилой комплекс "МОЖАЙСКИЙ".
                    p Наш девиз: Доступное жилье без ущерба для качества!
        //about:End

        //plan:Start
        .plan#plan
            .wrap
                .top
                    h2 ПЛАНИРОВКИ КВАРТИР
                    p
                        | В зависимости от количества комнат мы предлагаем
                        br
                        | следующие планировки квартир:
                .ewsn
                    img(src='img/ewsn.png', alt='')
                .plan__block
                    .p-wrap
                        .swiper-container
                            .swiper-wrapper
                                -
                                    var img = ['sec1.jpg','sec2.jpg','sec3.jpg','sec4.jpg','sec5.jpg']
                                each i in img
                                    div.swiper-slide
                                        img(src='img/'+i, alt='')
                                svg
                                    polygon(class='r1', points='0,27,0,168,213,168,213,2,75,0,75,27', fill="#9badc2",data-room={
                                        'id': 1,
                                        'room': 2,
                                        'art': 5983,
                                        'total': 50.1,
                                        'space': 49.5
                                    })
                                    polygon(class='r2', points='0,171,0,312,77,312,77,338,217,338,217,204,143,204,143,171', fill="#9badc2",data-room={
                                        'id': 2,
                                        'room': 2,
                                        'art': 5982,
                                        'total': 45,
                                        'space': 44.5
                                    })
                                    polygon(class='r3', points='214,0,214,171,363,171,363,0', fill="#9badc2",data-room={
                                        'id': 3,
                                        'room': 1,
                                        'art': 5982,
                                        'total': 45,
                                        'space': 44.5
                                    })
                                    polygon(class='r4', points='363,0,363,171,497,171,497,0', fill="#9badc2", data-room={
                                        'id': 4,
                                        'room': 1,
                                        'art': 5980,
                                        'total': 38.1,
                                        'space': 37.5
                                    })
                                    polygon(class='r5', points='362,205,362,338,500,338,500,312,567,312,567,28,497,28,497,173,405,173,405,204', fill="#9badc2", data-room={
                                        'id': 5,
                                        'room': 3,
                                        'art': 5983,
                                        'total': 60.1,
                                        'space': 59.5
                                    })
                                    polygon(class='r6', points='567,28,567,170,767,170,767,0,631,0,631,28', fill="#9badc2", data-room={
                                        'id': 6,
                                        'room': 2,
                                        'art': 5984,
                                        'total': 50.1,
                                        'space': 49.5
                                    })
                                    polygon(class='r7', points='567,171,567,311,631,311,631,337,770,337,770,204,695,204,695,172', fill="#9badc2", data-room={
                                        'id': 7,
                                        'room': 2,
                                        'art': 5985,
                                        'total': 49.1,
                                        'space': 48.5
                                    })
                                    polygon(class='r8', points='770,0,770,171,914,171,914,0', fill="#9badc2", data-room={
                                        'id': 8,
                                        'room': 1,
                                        'art': 5986,
                                        'total': 40.1,
                                        'space': 39.5
                                    })
                                    polygon(class='r9', points='917,0,917,171,1050,171,1050,0', fill="#9badc2", data-room={
                                        'id': 9,
                                        'room': 1,
                                        'art': 5987,
                                        'total': 37.1,
                                        'space': 36.5
                                    })
                                    polygon(class='r10', points='914,204,914,337,1055,337,1055,312,1130,312,1130,27,1050,27,1050,172,959,172,959,204', fill="#9badc2", data-room={
                                        'id': 10,
                                        'room': 3,
                                        'art': 5988,
                                        'total': 60.4,
                                        'space': 59.3
                                    })
                            .swiper-scrollbar
                    .popup
                        .popup__title
                            h3 Квартира
                                span.room
                                span.art
                            span.close.icon-close
                        .popup__img
                            img(src='img/1.png', alt='')
                        .popup__bottom
                            h3 Квартира
                                span.room
                                span.art
                            p.total Общая площадь:
                                span
                            p.space Жилая площадь:
                                span
                .sections
                    .left
                        -
                            var arr = [
                            'Секция №1',
                            'Общ. площадь кв. S=250,57 м2',
                            'Количество квартир на этаж: 5кв.',
                            'Однокомнатных: 2 шт.',
                            'Двухклмнатных: 2 шт.',
                            'Трехкомнатных: 1шт.'
                            ]
                        each txt in arr
                            div= txt
                    .right
                        -
                            var arr = [
                            'Секция №2',
                            'Общ. площадь кв. S=250,57 м2',
                            'Количество квартир на этаж: 5кв.',
                            'Однокомнатных: 2 шт.',
                            'Двухклмнатных: 2 шт.',
                            'Трехкомнатных: 1шт.'
                            ]
                        each txt in arr
                            div= txt
            .review
                .wrap
                    h3 Записаться на просмотр квартиры
                    ul
                        li: input(type='text',placeholder='Ваше имя')
                        li: input(type='text',placeholder='Ваш телефон')
                        li: input(type='text',placeholder='Удобное время')
                        li: input(type='submit',value='Оставить заявку')
                    p Мы свяжемся с вами в течении 15 минут
                    .sended
                        h3 Сообщение успешно отправлено
        //plan:End

        //section5:Start
        .section5
            .sec5bg
            .wrap
                .wrapper
                    h3.
                        Мы сделаем все, чтобы приобретение
                        квартиры было легким и быстрым
                    ul
                        li
                            div
                                i.icon-i1
                                span 1
                            |Поможем подобрать квартиру, а представитель на стройке покажет
                            |и расскажет все о вашем новом жилье.
                        li
                            div
                                i.icon-i1
                                span 2
                            |Понравившуюся вам квартиру мы можем бесплатно забронировать
                            |на срок до 5 дней.
                        li
                            div
                                i.icon-i1
                                span 3
                            |Поможем разобраться и подобрать жилищный кредит, максимально
                            |подходящий по вашим запросам.
                        li
                            div
                                i.icon-i1
                                span 4
                            |Мы являемся партнерами банков. Подадим заявку с отдела продаж в
                            |банк для одобрения кредита всего за 2 дня. Вероятность одобрения  89%.
        //section5:End

        //section6:Start
        .section6
            .wrap
                h3 Выбирая ЖК Можайский Вы также получаете:
                ul
                    -
                        var img = {
                        'icon-img10':'Остекленный<br> балкон',
                        'icon-img11':'Чистовая высота<br> этажа 2.8м',
                        'icon-img12':'Просторные бесшумные лифты',
                        'icon-img13':'Двор оборудован двумя детскими площадками и зоной отдыха',
                        'icon-img14':'Транспортная доступность',
                        'icon-img15':'Полное<br> сопровождение<br> сделки'
                        }
                    each txt,i in img
                        li
                            div
                                i(class=i)
                                span!= txt
        //section6:End

        //section7:Start
        .section7#ipoteka
            .wrap
                h3 Способы оплаты
                .left
                    img(src='img/pay1.png', alt='')
                    span 100% оплата
                .right
                    img(src='img/pay2.png', alt='')
                    span Беспроцентная Рассрочка
                .content
                    h4 Ипотека с государственной поддержкой по 11,4 %
                    ul
                        -
                            var icon = {
                            'bank2.png':'icon-bank2.png',
                            'bank1.png':'icon-bank1.png',
                            'bank3.png':'icon-bank3.png'
                            }
                        each ic,bank in icon
                            li
                                img(src='img/'+ic, alt='')
                                img(src='img/'+bank, alt='')
                    p Выгодная ипотека
                    p Вы получаете  процентную ставку от <strong>11,4%</strong>
                    p.
                        Принимаем материнский капитал и сертификаты в счет первоначального<br>
                        взноса за квартиру.
            .review
                .wrap
                    h3 Заполните заявку на расчет ипотечного кредита
                    h4 в любом из банков партнера
                    ul
                        li: input(type='text',placeholder='Ваше имя')
                        li: input(type='text',placeholder='Ваш телефон')
                        li: input(type='submit',value='Оставить заявку')
                    p Мы свяжемся с вами в течении 15 минут
                    .sended
                        h3 Сообщение успешно отправлено
        //section7:End

        //section8:Start
        .section8#gallery
            .wrap
                h3 Галерея
                .section8__slider.flexslider
                    ul.slides
                        -
                            var slider = [
                                'slide6.jpg','slide7.jpg','slide8.jpg','slide9.jpg','slide10.jpg','slide1.jpg','slide2.jpg'
                            ]
                        each slide in slider
                            li(data-thumb='img/'+slide): img(src='img/slide6.jpg', alt='')
        //section8:End

        //section9:Start
        .section9#reviews
            .wrap
                h3 Отзывы наших покупателей
                ul
                    -
                        var otzivi = {
                            'review1.png': {
                                'name':'Иван Кир',
                                'vk':'vk.com/id291542930',
                                'title':'Покупка жилья – непростой и ответственный шаг.',
                                'text':'Огромное спасибо Оксане и компании за быструю работу.! Оперативно и четко в указанные сроки продала мою квартиру. Все было оформлено удаленно, мне пришлось приехать на финальный этап для подписания контракта и получения денег. Приятно сотрудничать.'
                            },
                            'review2.png': {
                                'name':'Ирина Белоруссия',
                                'vk':'vk.com/id291542930',
                                'title':'Покупка квартиры всегда ответственное решение.',
                                'text':'Хочу поблагодарить риелторов за отличную работу, за помощь и поддержку на всех этапах сделки , за чистое человеческое отношение к людям! '
                            },
                            'review3.png': {
                                'name':'Елизавета',
                                'vk':'vk.com/id291542930',
                                'title':'Cпасибо, вам за помощь в выборе квартиры!',
                                'text':'Я стала собственником недвижимости в жилом комплексе “Можайский” в марте 2015 года. Хочу выразить свою благодарность специалистам высокого класса данной компании. Квартира замечательная! Именно то, что я хотела на сегодняшний день.'
                            },
                            'review4.png': {
                                'name':'Александр войский',
                                'vk':'vk.com/id291542930',
                                'title':'Выражаю благодарность',
                                'text':'Приобрел квартиру в жилом комплексе. Все было организованно очень качественно и удобно. Сделка прошла быстро и без подводных камней. Выражаю благодарность!'
                            }
                        }
                    each obj,img in otzivi
                        li
                            div.user
                                img(src='img/'+img, alt='')
                                p.name #{obj['name']}
                                a(href='https://'+obj['vk'],target='_blank').vk #{obj['vk']}
                            div.otziv
                                .content
                                    h4 #{obj['title']}
                                    p #{obj['text']}
        //section9:End

        //section10:Start
        .section10
            .wrap
                h3 Документация
                .content
                    .left
                        h4 Кадастровые паспорта:
                        ul
                            li: a(href='#') Кадастровый паспорт №1
                            li: a(href='#') Кадастровый паспорт №2
                        h4 Разрешения на строительство:
                        ul
                            li: a(href='#') Разрешение на строительство дома №1
                            li: a(href='#') Разрешение на строительство дома №2
                            li: a(href='#') Разрешение на строительство дома №3
                            li: a(href='#') Разрешение на строительство дома №4
                    .right
                        .section10__slider.flexslider
                            ul.slides
                                li: img(src='img/doc.jpg', alt='')
                                li: img(src='img/doc1.jpg', alt='')
                        p.button-zoom Увеличить
                        div.zoom
                            .img
                                img(src='#',alt='')
                                .close
                            .before

        //section10:End

        //section11:Start
        .section11#contacts
            h3 контакты
            #map
        //section11:End

        //footer-block
        .footer-block
            .top
                h3 ОСТАЛИСЬ ВОПРОСЫ?
                a(href='tel:83957894781') ЗАДАЙТЕ ИХ МЕНЕДЖЕРУ
                span онлайн
            footer.footer
                .wrap
                    ul
                        li
                            a(href='https://github.com/trademeta/bravo',target='_blank') Перейти в gitHub
                            p © 2016  Все права защищены.
                        li
                            h4 Жилой комплекс
                            strong Можайский
                        li
                            address
                                p г. Иркутск
                                p ул. Можайского 3/1
                                a(href='tel:83957894781') 8 (395) 789-47-81

        script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCcoVqNq_1cboxZMnBBXZ5ODBcN49nBgfc&callback=initMap')
        include additional/allscripts
